name: Build and Publish MitoHiFi base

on:  workflow_dispatch
   # push:
   #   branches:
   #   - 'stats'
  

env:
  REGISTRY: ghcr.io
  ORGANISATION: marcelauliano
  IMAGE_NAME: MitoHiFi-base

permissions:
  contents: write
  packages: write

jobs:
  # define job to build and publish docker image
  build-and-push-docker-image:

    name: Build Docker image and push to repositories
    # run only when code is compiling and tests are passing
    runs-on: ubuntu-latest

    # steps to perform in job
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Github Packages
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.ORGANISATION }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
      - name: Build image and push to GitHub Container Registry
        uses: docker/build-push-action@v2
        id: build-and-push
        with:
          context: ./environment/base
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true

      - name: Image digest
        run: echo ${{ steps.build-and-push.outputs.digest }}
